{% extends layout %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <title>Sign In</title>
    </head>



<body>
<h1>Welcome to the animal search kingdom!</h2>


    <form method="POST" action="/signIn" class="signIn">
    </form>






</body>


</html>

{% endblock %}