<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<title>Search Page</title>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Search Engine</title>
</head>
<body>
<label >Database: PgAdmin4</label>
<form method="POST" action="#" th:action="@{/search}" th:object="${search}">
    <input type="text" th:field="*{topic}" placeholder="Enter your query">
    <!--    <select th:field="*{database}">-->
    <!--        <option th:each="p: ${databaseList}" th:value="${p}" th:text="${p}"}></option>-->
    <!--    </select>-->
    <button type="submit">Search</button>
</form>
<a href="http://localhost:8080/searchPgadmin" style="text-decoration: none"><button>Redirect to Search MongoDB</button></a>



</body>
</html>
