<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Registration Page</title>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Sign Up</title>
</head>
<body>
<form method="POST" th:action="@{/signup}" th:object="${user}">
    <input type="text" th:field="*{email}" placeholder="email">
    <input type="password" th:field="*{password}" placeholder="password">
    <input type="text" th:field="*{firstName}" placeholder="First name">
    <input type="text" th:field="*{lastName}" placeholder="Last name">
    <button type="submit">Sign Up</button>
    <a href="/login">Already Sign up? Sign In</a>
</form>
</body>
</html>